.degaw { 
  font-size: 96px;
  border-bottom-width: 42px;
  padding-right: 83px;
  border-right-width: 12px;
  border-bottom-width: 54px;
  margin-right: 49px;
  border-bottom-width: 45px;
  padding-top: 54px;
  border-top-width: 68px;
}
